.header{
    display: flex;
    justify-content: space-between;
}

.header-menu{
    list-style: none;
    display:flex;
    justify-content: end;
    gap: 2rem;
    color: white;
    flex: 3;
}

.header-menu>li:hover{
    color: var(--orange);
    cursor: pointer;
}

.logo {
    width: 10rem;
    height: 3rem;
}